@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body{
    margin:0px;
    padding: 0px;
    background-color: #ffffff;
    font-family:'Bebas Neue', 'Lato', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    margin-top: 10px;
}
.logo-text {
    font-family: LibreBaskerville;
    font-size: 2.625rem;
    font-weight: bold;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #374b5c;
}
#main{
    background-image: url('./asset/bg1.png');
    float: right;
    width: 26.188rem;
    height: 35.625rem;
    margin: 18.25rem 21.063rem 0.34rem 7.438rem;
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
}
nav.active{
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
	background-color: #ffffff;
}
nav ul{
	display: flex;
}
nav ul li a{
    font-family: 'Bebas Neue';
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#3d2514;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
nav ul li a:hover{
	background-color: #bf2222;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
	transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
		display:none;
	}
.header-heading{
	font-family: 'Montserrat';
	width: 900px;
	position: absolute;
    left: 25%;
    top: 55%;
    text-align: left;
	transform: translate(-25%,-55%);
}
.header-heading span{
    font-family: 'Alfa Slab One';
    color: #bf2222;
    border-bottom: 2px solid #3d2514;
}

.header-heading h3{
    width: 16rem;
    height: 3rem;
    font-family: LibreBaskerville;
    font-size: 2.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #374b5c;
}
.header-heading h1{
    width: 25.25rem;
    height: 4.625rem;
    font-family: LibreBaskerville;
    font-size: 3.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #374b5c;
}
.para {
  width: 24.313rem;
  height: 3.375rem;
  margin: 2.188rem 10.938rem 2.188rem 0;
  font-family: LibreBaskerville;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #374b5c;
}
.explore-btn {
  width: 160px;
  height: 3rem;
  background-color: #d8bbbb;
  font-family: LibreBaskerville;
  font-size: 1.125rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  border-radius: 10px;
  color:#ffffff
}

.explore-btn:hover{
	background-color: rgb(192, 202, 173);
    transition: all ease 0.5s;
    color: #3d2514;
    border: 2px solid #bf2222;
}

#products{
    width:100%;
    height:120vh;
    box-sizing: border-box;
    font-family:'Lato';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
    background-color: #ffffff;
}
#products h1{
  width: 19.313rem;
  height: 3rem;
  margin: 0.904rem 3.875rem 1.188rem 0.813rem;
  font-family: LibreBaskerville;
  font-size: 2.40rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #374b5c;
}
#products p{
  width: 35.5rem;
  height: 2.625rem;
  margin: 1.188rem 1.207rem 5.13rem;
  font-family: LibreBaskerville;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #374b5c;
}
.a-container{
    display: flex;
    justify-content: center;
    align-content: center;


}
.a-box{
    background-color: #ffffff;
    width:300px;
    height: 435px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
}
.a-b-img{
    width: 100%;
    height: 100%;
}
.a-b-img img{
    padding: 15px;
    width:100%;
    height: 100%;

}
.a-box:hover{
    box-shadow: 2px 2px 12px rgba(179, 155, 129, 0.445);
}

.b-container {
    display: flex;
    margin-top: 30px;
}
#about{
    width: 100%;
    height: 3rem;
    margin: 0 4.726rem 1.188rem 14.871rem;
    font-family: LibreBaskerville;
    font-size: 2.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #374b5c;
}
#about h1{
  height: 3rem;
  margin-left: 350px;
  font-family: LibreBaskerville;
  font-size: 2.25rem;
  color: #374b5c;
}
#about p{
  width: 35.5rem;
  height: 2.625rem;
  margin-left: 230px;
  margin-top: 50px;
  font-family: LibreBaskerville;
  font-size: 1rem;
  text-align: center;
  color: #374b5c;
}

.b-box{
   padding: 60px;
   padding-left: 10px;
}
.b-a-img{
    width: 100%;
    height: 100%;
}
.b-a-img img{
    padding: 15px;
    margin-right: 50px;
    width:100%;
    height: 100%;
}

#section {
    background-image: url('./asset/bg2.png');
    float: left;
    width: 26.188rem;
    height: 35.625rem;
    margin-top: 40rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.pic img{
    width: 90px;
    border-radius: 150px;
}

.small-pic {
    position: relative;
    width: 10px;
    left: 220%;
}
.pic-text {
    margin-top: 0;
    display: inline-block;
    width: 70px;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    left: 200%;
}

.para2 {
    margin-top: 0;
    width: 350px;
    position: absolute;
    left: 52%;
    text-align: center;
}


#blog{
    width:100%;
    height:120vh;
    box-sizing: border-box;
    font-family:'Lato';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
    background-color: #ffffff;
}
#blog h1{
  text-align: center;
  width: 19.313rem;
  height: 2rem;
  margin: 0.904rem 3.875rem 1.188rem 0.813rem;
  font-family: LibreBaskerville;
  font-size: 2.40rem;
  line-height: 1.33;
  color: #374b5c;
}
#blog p{
  width: 23.5rem;
  height: 2.625rem;
  margin-top: 50px;
  font-family: LibreBaskerville;
  font-size: 1rem;
  line-height: 1.31;
  letter-spacing: normal;
  color: #374b5c;
  text-align: center;
  left: 100%;
}

.c-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.c-box{
    background-color: #ffffff;
    width:300px;
    height: 435px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
}
.c-b-img{
    width: 100%;
    height: 100%;
}
.c-b-img img{
    padding: 15px;
    width:100%;
    height: 100%;

}
.c-box:hover{
    box-shadow: 2px 2px 12px rgba(179, 155, 129, 0.445);
}

.blog-img{
    width: 50%;
}

#footer{
    background-image: url(./asset/footer.png);
    width: 100vw;
    height: 20.625rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo1 img {
    width: 100px;
    margin-top: 100px;
    margin-left: 100px;
}

.logo1 h{
    width: 6.812rem;
    height: 2.563rem;
    margin-left: 20px;
    font-family: LibreBaskerville;
    font-size: 1.938rem;
    font-weight: bold;
    display: inline;
    color: #ffffff;
}
.logo1 p {
    width: 19.938rem;
    height: 2.75rem;
    margin: 1.968rem 0 2.02rem 4.468rem;
    font-family: LibreBaskerville;
    font-size: 0.875rem;
    line-height: 1.79;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}
footer {
  width: 10.438rem;
  height: 1.188rem;
  margin: 0.668rem 9.5rem 3.176rem 4.468rem;
  font-family: LibreBaskerville;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media(max-width:620px){
    #contact form{
        width:90%;
    }
}

@media(max-width:1190px){
	#main{
		background-size: 1150px !important;
		
	}
	.header-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .header-heading h2{
        font-size: 1.5rem;
    }
    .header-heading h1{
        font-size: 3rem;
    }
    .header-heading .details{
        font-size: 1rem;
    }
    .pr-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .pr-heading h2{
        font-size: 1.5rem;
    }
    .pr-heading h1{
        font-size: 3rem;
    }
    .pr-heading .details{
        font-size: 1rem;
    }
	.about-image img{
		height:400px;
    }
    #products{
		height:auto;
    }
    .a-container{
		flex-wrap: wrap;
	}
    .a-box{
		flex-grow: 1;
	}
    .a-b-img img{
		object-fit:contain;
    }
    
    

}

@media(max-width:970px){
	#main{
		height: 650px;
	}
	.header-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .pr-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.about-image{
        display:none;
    }
    .header-btn{
        margin-left: 20%;
        margin-top: 20px;
    }
    .pr-btn{
        margin-left: 20%;
        margin-top: 20px;
    }
	#about{
		justify-content: center;
        padding-top: 0px;
        text-align: center;
        
        margin-top: 0px;
	}
	.about-text{
        width: 90%;
        text-align: center;
	}
	.about-text h1{
		font-size:3rem;
    }
    .about-text p{
        width: 100%;
    }
    .about-text button {
        margin-left: 30%;
    }
    #products{
        margin-bottom: 100px;
    }
}
@media(max-width:600px){
	.header-heading{
		width:60%;
    }
    .pr-heading{
		width:60%;
    }
}

@media(max-width:1100px){.menu-icon{
    display:block;}
        nav{
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
        }
        .logo img{
            width:120px;
        }
        .header-btns{
            margin: 0;
        }
        .pr-btns{
            margin: 0;
        }
        .menu{
            display:none;
            position:absolute;
            top:65px;
            left:0px;
            background-color:#ffffff;
            border-bottom:4px solid #FF1414;
            width:100%;
            padding:0px;
            margin:0px;
        }
        .menu li{
            width:100%;
        }
        nav .menu li a{
            width:100%;
            height:40px;
            justify-content: center;
            align-items: center;
            margin:0px;
            padding: 25px;
            border:1px solid rgba(38,38,38,0.03);
        }
        nav .menu-icon{
            cursor:pointer;
            float:right;
            padding:28px 20px;
            position:relative;
            user-select: none;
        }
        nav .menu-icon .nav-icon{
            background-color:#3d2514;
            display:block;
            height:2px;
            position:relative;
            transition: background 0.2s ease-out;
            width:24px;
        }
        nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:rgb(255, 255, 255);
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:6px;
            background-color: #3d2514;
        }
        nav .menu-icon .nav-icon:after{
            top:-6px;
            background-color: #3d2514;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
            background-color: #3d2514;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
            background-color: #3d2514;
        }
        nav .menu-btn{
            display:none;
        }
        nav .menu-btn:checked ~ .menu{
            display:block;
        }}
        @media(max-width:400px){
            .a-box{
                width: 100%;
                height:400px;
            }
        }